.essenceImage::after {
    content: attr(data-category);
    display: block;
    text-align: center;
    padding: 0;
    max-width: calc((100%) - 60px);
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

label {
    display: inline-block;
}

figure, img {
    height: 100%;
    width: auto;
}